@use "./base.scss";

// put your custom CSS here!
.page-title {
    font-family: "Beau Rivage", cursive;
    font-weight: 300;
    font-size: 2.4rem;
    font-style: italic;
    background-image: url("/static/daughter.jpeg");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 185px 5px;
}

/* Custom Scrollbar Styles */

/* For Webkit Browsers (e.g., Chrome, Safari) */
*::-webkit-scrollbar {
    width: 1px !important;
    background-color: transparent !important; /* Optional: transparent background */
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(211, 211, 211, 0.7) !important; /* Light color */
    border-radius: 10px !important;
    transition: background-color 0.2s ease-in-out !important;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(169, 169, 169, 0.9) !important; /* Slightly darker on hover */
}

*::-webkit-scrollbar-track {
    background-color: rgba(245, 245, 245, 1) !important; /* Background color similar to the image */
}

/* For Firefox */
* {
    scrollbar-width: thin !important;
    scrollbar-color: rgba(211, 211, 211, 0.7) rgba(245, 245, 245, 1) !important;
}

* {
    &:hover {
        scrollbar-width: thin !important;
        scrollbar-color: rgba(169, 169, 169, 0.9) rgba(245, 245, 245, 1) !important;
    }
}
